<section class="footer1 cid-s8XeTELmcE mbr-parallax-background" once="footers" id="footer02-9">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-left display-7">
                    &copy; Copyright {{ now.Format "2006"}} | <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a> | All rights reserved
                </p>
            </div>
        </div>
    </div>
</section>

{{ $jqueryjs := "assets/web/assets/jquery/jquery.min.js" }}<script src="{{ $jqueryjs | absURL }}"></script>
{{ $popperminjs := "assets/popper/popper.min.js" }}<script src="{{ $popperminjs | absURL }}"></script>
{{ $tetherminjs := "assets/tether/tether.min.js" }}<script src="{{ $tetherminjs | absURL }}"></script>
{{ $bootstrapminjs := "assets/bootstrap/js/bootstrap.min.js" }}<script src="{{ $bootstrapminjs | absURL }}"></script>
{{ $smoothscrolljs := "assets/smoothscroll/smooth-scroll.js" }}<script src="{{ $smoothscrolljs | absURL }}"></script>
{{ $navdropdownjs := "assets/dropdown/js/nav-dropdown.js" }}<script src="{{ $navdropdownjs | absURL }}"></script>
{{ $navbardropdownjs := "assets/dropdown/js/navbar-dropdown.js" }}<script src="{{ $navbardropdownjs | absURL }}"></script>
{{ $jquerytouchswipeminjs := "assets/touchswipe/jquery.touch-swipe.min.js" }}<script src="{{ $jquerytouchswipeminjs | absURL }}"></script>
{{ $jarallaxminjs := "assets/parallax/jarallax.min.js" }}<script src="{{ $jarallaxminjs | absURL }}"></script>
{{ $scriptjs := "assets/theme/js/script.js" }}<script src="{{ $scriptjs | absURL }}"></script>
<script src="https://kit.fontawesome.com/f702cef395.js" crossorigin="anonymous"></script>